[submodule "plugins/businessCard"]
	path = plugins/businessCard
	url = git@github.com:simonjamain/designexporter-plugin-businesscard.git
[submodule "plugins/multipage"]
	path = plugins/multipage
	url = git@github.com:simonjamain/designexporter-plugin-multipage.git
[submodule "plugins/fonts"]
	path = plugins/fonts
	url = git@github.com:simonjamain/designexporter-plugin-fonts.git
